<!DOCTYPE html>
<html>
  <head>
    <title>layout</title>
    <link rel="stylesheet" href="../../css/index.css">
  </head>
  <body>
    <div class="headerContainer">
      <h2>this is header</h2>
    </div>
    <div class="content">
      <p>this is content1</p>
      <p>this is content2</p>
      <p>this is content3</p>
      <p>this is content4</p>
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p class="class1 class2 class3">end</p>
      <p><strong>test plain text after tag with space</strong></p>
      <p><strong>test plain text after tag with space 2</strong></p>
      <p>abc</p>
      <p>a</p>
      <p>b</p>
      <p>c</p>
      <p>abc</p>
      <p>key=a item=1</p>
      <p>key=b item=2</p>
      <p>key=c item=3</p>
      <p>hello world</p>
      <p>hello world</p>
      <p>&lt;strong&gt;hello world&lt;/strong&gt;</p>
      <p>&lt;strong&gt;hello world&lt;/strong&gt;</p>
      <p><strong>hello world</strong></p>
    </div>
    <div class="mixinContainer">
          <ul>
            <li>1</li>
            <li>2</li>
          </ul>
          <p>jaewofwjeofijefoiafj</p>
          <div style="border:1px solid red">
            <h2>test block's title</h2>
            <p>this is a block</p>
          </div>
          <p style="color:red" class="class1">color:red</p>
          <p>test spread mixin</p>
          <p>1,2,3</p>
    </div>
    <div class="footerContainer">
      <ul>
        <li>support1</li>
        <li>support2</li>
        <li>support3</li>
      </ul>
    </div>
    <p>this is extra content</p>
    <script>
      var data = 123;
      console.log(data);
      function getA() {
          return 'a';
      }
    </script>
    <script>
      var a = 1;
      console.log(a);
    </script>
  </body>
</html>