<!DOCTYPE html>
<html>
  <head>
    <link href="../css/index.css" rel="stylesheet">
    <style></style>
    <title>test jade</title>
  </head>
  <body>
    <div class="container">
      <p class="content">this is content</p>
      <p class="section">this is section</p>
      <ul class="list">
        <li><span class="item">item1</span></li>
        <li><span class="item">item2</span></li>
        <li><span class="item">item3</span></li>
      </ul>
      <p class="paragraph">
        this is a sentence
        this is a sentence
        <p>this is a sentence</p>
      </p>
      <p>haha</p><img src="../assets/images/01.jpg" class="small-img">
      <div>
        <div>&lt;p&gt;this is a template&lt;/p&gt;</div>
        <div><p>this is a template</p></div>
      </div>
      <p>jack 14 0 name: haha</p>
      <p>tom 16 1 name: haha</p>
      <p>lucy 11 2 name: haha</p>
      <p style="color:red;font-size:18px">test style with obj</p>
      <p style="color:green;padding-left:8px" class="testClass">test &attributes()</p>
      <p>num other</p>
      <p>show = true</p>
      <p>show2 = false</p>
      <p>type is object</p>
      <div id="whileContainer">
        <p>1</p>
        <p>2</p>
        <p>3</p>
      </div>
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
    </div>
  </body>
</html>