.footerContainer
    ul
        - var list = ['support1', 'support2', 'support3']
        each value in list
            li= value
    - var classList = ['footer-class1', 'footer-class2', 'footer-class3']
    p= classList