extends ./content.jade
//-
    extends 之后则该文件会忽略其他标签，只保留extends中得到的内容
//- 如果有block news 则block append和block prepend都无效
block news
    p this is section's news
block append news
    p after section
block prepend news
    p before section